@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Gilroy';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/Gilroy-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Gilroy-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Gilroy-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Gilroy-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Gilroy-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Gilroy-Bold.otf') format('opentype');
}
